//color variables ////////////////////
@bg-color:#272727;
@bg-color-hover:#000000;
@color:#ffffff;

@link:#ffffff;
@hover:#33ffcc;
@active:#00ffcc;
@visited:#ffffff;

@svg-link:#ffffff;
@svg-hover:#33ffcc;
@svg-active:#00ffcc;
@svg-visited:#ffffff;
@svg-saving:#58ff00;
@svg-selected:#58ff00;

@interface-bg:#272727;
@interface-color-faded:#aaaaaa;


///////////////////////////////////////

.webpage > .grid-leftside{background-color:@bg-color;}
.webpage > .grid-rightside{background-color:@bg-color;}

.editor{

    .toolbar{
        background-color:@bg-color;
    }

    .saving a{
        &:link use{color:@svg-saving !important;}
        &:hover use{color:@svg-saving !important;}
        &:active use{color:@svg-saving !important;}
        &:visited use{color:@svg-saving !important;}
    }

    .nosave a{
        cursor:default;
        &:link use{color:@svg-link !important;}
        &:hover use{color:@svg-link !important;}
        &:active use{color:@svg-link !important;}
        &:visited use{color:@svg-link !important;}
    }
    .bg{background-color:@interface-bg;}
    .tab{color:@color; background-color:@bg-color;}

    .font-faded{color:@interface-color-faded;}
    
    a:link use{color:@svg-link;}
    a:hover use{color:@svg-hover;}
    a:active use{color:@svg-active;}
    a:visited use{color:@svg-visited;}
}

///////////////////////////////////////

.interface{
    .getInterface(dark){
        //setup an interface that uses a dark background color

        @perc-light:0%; //lighten
        @perc-dark:30%; //darken
        @perc-desat:30%; //desaturate

        @perc-hov-light:0%;  //hover lighten
        @perc-hov-dark:27%;  //hover darken
        @perc-hov-desat:30%;  //hover desaturate

        @perc-field-light:15%; //input field lighten
        @perc-field-dark:0%; //input field darken

        @perc-button-light:10%; //button lighten
        @perc-button-dark:0%; //button darken

        @purple:#C100F5;
        @blue:#0046E5;
        @turqoise:#00E9E2;
        @green:#00E044;
        @yellow:#FFE000;
        @orange:#FF7E00;
        @red:#FF0000;

        @color-purple:  desaturate(darken(lighten(@purple,@perc-light),@perc-dark),@perc-desat);
        @color-blue:    desaturate(darken(lighten(@blue,@perc-light),@perc-dark),@perc-desat);
        @color-turqoise:desaturate(darken(lighten(@turqoise,@perc-light),@perc-dark),@perc-desat);
        @color-green:   desaturate(darken(lighten(@green,@perc-light),@perc-dark),@perc-desat);
        @color-yellow:  desaturate(darken(lighten(@yellow,@perc-light),@perc-dark),@perc-desat);
        @color-orange:  desaturate(darken(lighten(@orange,@perc-light),@perc-dark),@perc-desat);
        @color-red:     desaturate(darken(lighten(@red,@perc-light),@perc-dark),@perc-desat);

        @color-purple-hover:  desaturate(darken(lighten(@purple,@perc-hov-light),@perc-hov-desat),@perc-hov-dark);
        @color-blue-hover:    desaturate(darken(lighten(@blue,@perc-hov-light),@perc-hov-desat),@perc-hov-dark);
        @color-turqoise-hover:desaturate(darken(lighten(@turqoise,@perc-hov-light),@perc-hov-desat),@perc-hov-dark - 10);
        @color-green-hover:   desaturate(darken(lighten(@green,@perc-hov-light),@perc-hov-desat),@perc-hov-dark);
        @color-yellow-hover:  desaturate(darken(lighten(@yellow,@perc-hov-light),@perc-hov-desat),@perc-hov-dark - 5);
        @color-orange-hover:  desaturate(darken(lighten(@orange,@perc-hov-light),@perc-hov-desat),@perc-hov-dark - 3);
        @color-red-hover:     desaturate(darken(lighten(@red,@perc-hov-light),@perc-hov-desat),@perc-hov-dark);
        .interface();
    }

    .getInterface(light){
        //setup an interface that uses a light background color

        @perc-light:45%; //lighten
        @perc-dark:5%; //darken
        @perc-desat:50%; //desaturate

        @perc-hov-light:30%;  //hover lighten
        @perc-hov-dark:30%;  //hover darken
        @perc-hov-desat:50%;  //hover desaturate

        @perc-field-light:0%; //input field lighten
        @perc-field-dark:15%; //input field darken

        @perc-button-light:0%; //button lighten
        @perc-button-dark:10%; //button darken

        @purple:#C100F5;
        @blue:#0046E5;
        @turqoise:#00E9E2;
        @green:#00E044;
        @yellow:#FFE000;
        @orange:#FF7E00;
        @red:#FF0000;

        @color-purple:  desaturate(darken(lighten(@purple,@perc-light),@perc-dark),@perc-desat);
        @color-blue:    desaturate(darken(lighten(@blue,@perc-light),@perc-dark),@perc-desat);
        @color-turqoise:desaturate(darken(lighten(@turqoise,@perc-light),@perc-dark),@perc-desat);
        @color-green:   desaturate(darken(lighten(@green,@perc-light),@perc-dark),@perc-desat);
        @color-yellow:  desaturate(darken(lighten(@yellow,@perc-light),@perc-dark),@perc-desat);
        @color-orange:  desaturate(darken(lighten(@orange,@perc-light),@perc-dark),@perc-desat);
        @color-red:     desaturate(darken(lighten(@red,@perc-light),@perc-dark),@perc-desat);

        @color-purple-hover:  desaturate(lighten(@purple,@perc-hov-light),@perc-hov-desat);
        @color-blue-hover:    desaturate(lighten(@blue,@perc-hov-light),@perc-hov-desat);
        @color-turqoise-hover:desaturate(lighten(@turqoise,@perc-hov-light),@perc-hov-desat);
        @color-green-hover:   desaturate(lighten(@green,@perc-hov-light),@perc-hov-desat);
        @color-yellow-hover:  desaturate(lighten(@yellow,@perc-hov-light),@perc-hov-desat);
        @color-orange-hover:  desaturate(lighten(@orange,@perc-hov-light),@perc-hov-desat);
        @color-red-hover:     desaturate(lighten(@red,@perc-hov-light),@perc-hov-desat);

        .interface();
    }

    .interface(){
        background-color:@window-bg; 

        .grip{background-color:@window-grip;}
        .title{color:@window-title;}
        .close a:hover{color:@window-close !important;}
        &.arrow-top:after{border-bottom-color:@window-bg;}
        .section-info{background-color:@window-header;}
        .row.header{background-color:@window-header;}
        .top-menu, .side-menu{background-color:@window-top-menu;}
        .tabs .item{color:@window-color-faded;background-color:@window-tab;}
        .tabs .item:hover{color:@window-color;background-color:@window-tab-hover;}
        .tabs .item.selected{color:@window-color;border-bottom:2px solid @window-tab-selected;}

        .top-menu{
            .tabs .item{color:@window-color-faded;background-color:@window-tab;}
            .tabs .item:hover{color:@window-color;background-color:@window-tab-hover;}
            .tabs .item.selected{color:@window-color;border-bottom:2px solid @window-tab-selected;}
        }

        .help-info{color:@window-color; background-color:darken(@window-bg,5%);}
        .column-help > div{color:@window-color-help; background-color:darken(@window-bg,5%);}
        .column-help > div:after {border-right-color:darken(@window-bg,5%);}
        .column-help .row.color:hover{color:darken(saturate(@window-color-help,20%),2%); background-color:darken(@window-bg,8%);}

        @border:2%; 

        .colors(){
            //function to generate colored rows, columns, & tables

            //setup offset colors
            @label-bg:lighten(@bgcolor,@lighten-label);
            @label-hover:saturate(lighten(@hovercolor,@lighten-hover),15%);
            @input-bg:@bgcolor;
            @input-hover:@hovercolor;
            @field-bg:darken(lighten(@bgcolor, @perc-field-light), @perc-field-dark);
            @field-hover:darken(lighten(@bgcolor, @perc-field-light), @perc-field-dark);
            @field-focus:darken(lighten(@bgcolor, @perc-field-light * 1.8), @perc-field-dark * 1.8);
            @field-color:fade(@font-color, @font-alpha + 20%);
            @field-hovercolor:@font-color;

            //font colors
            color:@font-color;

            a:link{color:@a-link;}
            a:hover{color:@a-hover;}
            a:active{color:@a-active;}
            a:visited{color:@a-visited;}

            a:link use{color:@svg2-link;}
            a:hover use{color:@svg2-hover;}
            a:active use{color:@svg2-active;}
            a:visited use{color:@svg2-visited;}

            //row colors
            div.@{name}{.row-colors();}
            tr.@{name}{.tr-colors();}

            //row hover colors
            .row.@{name}:hover{.row-hover();}
            .row:hover > div.@{name}{.row-hover();}
            tr.@{name}:hover{.tr-hover();}

            //input field colors
            & when (@has-fields = true){
                .@{name} input, 
                .@{name} textarea, 
                .@{name} select{color:@field-color; background-color:@field-bg;}
                .@{name}:hover input, 
                .@{name}:hover textarea, 
                .@{name}:hover select{color:@field-hovercolor; background-color:@field-hover;}
                .@{name} input:focus, 
                .@{name} textarea:focus, 
                .@{name} select:focus{background-color:@field-focus;}
            }

            //button colors
            & when (@has-buttons = true){
                .button{color:@button-color; background-color:@button-bg;}
                .button:hover{color:@button-color; background-color:darken(lighten(@button-bg, @perc-button-light), @perc-button-dark);}
                .button.apply{color:@button-apply-color; background-color:@button-apply-bg;}
                .button.apply:hover{color:@button-apply-color; background-color:darken(lighten(@button-apply-bg, @perc-button-light), @perc-button-dark);}
                .button.cancel{color:@button-cancel-color; background-color:@button-cancel-bg;}
                .button.cancel:hover{color:@button-cancel-color; background-color:darken(lighten(@button-cancel-bg, @perc-button-light), @perc-button-dark);}
                .button.outline{color:@button-outline-color; border-color:fade(@button-outline-bg, 30%);}
                .button.outline:hover{color:@button-outline-color; border-color:fade(darken(lighten(@button-outline-bg, @perc-button-light), @perc-button-dark), 70%);}
            }

            //color sub-functions
            .row-colors(){
                @label-border:darken(@label-bg,@border);
                @input-border:darken(@input-bg,@border);
                background-color:@bgcolor;
                > .column-label, .column-icon{color:fade(@font-color, @font-alpha); background-color:@label-bg; border-bottom:1px solid @label-border;}
                > .column, > .column-input, > .empty, .column-button{background-color:@input-bg; border-bottom:1px solid @input-border;}
            }

            .row-hover(){
                @label-border:darken(@label-hover,@border + 1);
                @input-border:darken(@input-hover,@border + 1);
                background-color:@input-hover;
                    > .column-label, .column-icon{color:@font-color; background-color:@label-hover; border-bottom:1px solid @label-border;}
                    > .column, > .column-input, > .empty, .column-button{background-color:@input-hover; border-bottom:1px solid @input-border;}
            }

            .tr-colors(){
                @label-border:darken(@label-bg,@border);
                td{background-color:@label-bg; border-bottom:1px solid @label-border;}
            }

            .tr-hover(){
                @label-border:darken(@label-hover,@border);
                @input-border:darken(@input-hover,@border);
                td{background-color:@input-hover; border-bottom:1px solid @input-border;}
                td:hover{background-color:@label-hover; border-bottom:1px solid @label-border;}
            }
        }

        // Color Default //////////////////////////////////////////////////////////////////////////////////////////////////
        &{
            @name:~'hover';
            @bgcolor:@window-bg;
            @hovercolor:@window-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 3%;
            @font-alpha:70%;
            .colors();
        }
        
        // Color Dark //////////////////////////////////////////////////////////////////////////////////////////////////
        &{
            @name:~'hover-alt';
            @bgcolor:darken(@window-bg,1%);
            @hovercolor:@window-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 3%;
            @font-alpha:70%;
            .colors();
        }
        
        // Color Component-Select //////////////////////////////////////////////////////////////////////////////////////////////////
        &.component-select when (@component-select = true){
            @name:~'hover';
            @bgcolor:@select-bgcolor;
            @hovercolor:@select-hovercolor;
            @font-color:@select-color;
            @lighten-label: 3%;
            @lighten-hover: 3%;
            @font-alpha:70%;
            .colors();
        }

        // Color Component-Select //////////////////////////////////////////////////////////////////////////////////////////////////
        &.component-select when (@component-select = true){
            @name:~'hover-alt';
            @bgcolor:@select-bgcolor;
            @hovercolor:@select-hovercolor;
            @font-color:@select-color;
            @lighten-label: 3%;
            @lighten-hover: 3%;
            @font-alpha:70%;
            .colors();
        }

        // Color Component-Select Cell //////////////////////////////////////////////////////////////////////////////////////////////////
        &.component-select.forpanel when (@component-select = true){
            @name:~'hover';
            @bgcolor:@select-panel-bgcolor;
            @hovercolor:@select-panel-hovercolor;
            @font-color:#ffffff;
            @lighten-label: 3%;
            @lighten-hover: 0%;
            @font-alpha:100%;
            .colors();
        }

        // Color Component-Select Cell //////////////////////////////////////////////////////////////////////////////////////////////////
        &.component-select.forpanel when (@component-select = true){
            @name:~'hover-alt';
            @bgcolor:@select-panel-bgcolor;
            @hovercolor:@select-panel-hovercolor;
            @font-color:@select-panel-color;
            @lighten-label: 3%;
            @lighten-hover: 0%;
            @font-alpha:100%;
            .colors();
        }

        // Color Purple //////////////////////////////////////////////////////////////////////////////////////////////////
        & when (@has-colors = true){
            @name:~'purple';
            @bgcolor:@color-purple;
            @hovercolor:@color-purple-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 2%;
            @font-alpha:80%;
            @has-buttons:false;
            .colors();
        }

        // Color Blue //////////////////////////////////////////////////////////////////////////////////////////////////
        & when (@has-colors = true){
            @name:~'blue';
            @bgcolor:@color-blue;
            @hovercolor:@color-blue-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 2%;
            @font-alpha:80%;
            @has-buttons:false;
            .colors();
        }

        // Color Turqoise //////////////////////////////////////////////////////////////////////////////////////////////////
        & when (@has-colors = true){
            @name:~'turqoise';
            @bgcolor:@color-turqoise;
            @hovercolor:@color-turqoise-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 2%;
            @font-alpha:80%;
            @has-buttons:false;
            .colors();
        }

        // Color Green //////////////////////////////////////////////////////////////////////////////////////////////////
        & when (@has-colors = true){
            @name:~'green';
            @bgcolor:@color-green;
            @hovercolor:@color-green-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 2%;
            @font-alpha:80%;
            @has-buttons:false;
            .colors();
        }

        // Color Yellow //////////////////////////////////////////////////////////////////////////////////////////////////
        & when (@has-colors = true){
            @name:~'yellow';
            @bgcolor:@color-yellow;
            @hovercolor:@color-yellow-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 2%;
            @font-alpha:80%;
            @has-buttons:false;
            .colors();
        }

        // Color Orange //////////////////////////////////////////////////////////////////////////////////////////////////
        & when (@has-colors = true){
            @name:~'orange';
            @bgcolor:@color-orange;
            @hovercolor:@color-orange-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 2%;
            @font-alpha:80%;
            @has-buttons:false;
            .colors();
        }

        // Color Red //////////////////////////////////////////////////////////////////////////////////////////////////
        & when (@has-colors = true){
            @name:~'red';
            @bgcolor:@color-red;
            @hovercolor:@color-red-hover;
            @font-color:@window-color;
            @lighten-label: 3%;
            @lighten-hover: 2%;
            @font-alpha:80%;
            @has-buttons:false;
            .colors();
        }
    }

    ///////////////////////////////////////
    // Setup Page Editor Interface Colors
    &{
        @window-bg:@bg-color;
        @window-hover:#263039;
        @window-color:#e0e0e0;
        @window-color-faded:#aaaaaa;
        @window-color-help:#9EE3C3;
        @window-grip:rgba(255, 255, 255, 0.1);
        @window-title:#aaaaaa;
        @window-close:#cc0000;
        @window-header:#202020;
        @window-top-menu:#2a2a2a;
        @window-tab:@window-top-menu;
        @window-tab-hover:lighten(@window-bg,8%);
        @window-tab-selected:#00EEB6;
        @button-bg:#00AC83;
        @button-color:#ffffff;
        @button-apply-bg:#00AC83;
        @button-apply-color:#ffffff;
        @button-cancel-bg:#777777;
        @button-cancel-color:#56978C;
        @button-outline-bg:#ffffff;
        @button-outline-color:#ffffff;
        @a-link:#00eeb6;
        @a-hover:#00ffc3;
        @a-active:#00ffc3;
        @a-visited:#00eeb6;
        @svg2-link:#ffffff;
        @svg2-hover:#33ffcc;
        @svg2-active:#00ffcc;
        @svg2-visited:#ffffff;
        @select-bgcolor:#252525;
        @select-hovercolor:#000000;
        @select-color:#ffffff;
        @select-panel-bgcolor:#3AA39D;
        @select-panel-hovercolor:#3DABA6;
        @select-panel-color:#ffffff;
        @component-select:true;
        @has-colors:true;
        @has-fields:true;
        @has-buttons:true;
        .getInterface(dark);
    }

    ///////////////////////////////////////
    // Setup Dashboard Interface Colors
    &.dashboard{
        @window-bg:#e3e3e3;
        @window-hover:#ABD3D1;
        @window-color:#444444;
        @window-color-faded:#999999;
        @window-color-help:#329392;
        @window-grip:rgba(0, 0, 0, 0.1);
        @window-title:#aaaaaa;
        @window-close:#cc0000;
        @window-header:#d6d6d6;
        @window-top-menu:#dfdfdf;
        @window-tab:@window-top-menu;
        @window-tab-hover:lighten(@window-bg,8%);
        @window-tab-selected:#00EEB6;
        @button-bg:#00AC83;
        @button-color:#ffffff;
        @button-apply-bg:#00AC83;
        @button-apply-color:#ffffff;
        @button-cancel-bg:#777777;
        @button-cancel-color:#56978C;
        @button-outline-bg:#ffffff;
        @button-outline-color:#ffffff;
        @a-link:#0093ca;
        @a-hover:#00bbc2;
        @a-active:#00bbc2;
        @a-visited:#0093ca;
        @svg2-link:#444444;
        @svg2-hover:#FF8B35;
        @svg2-active:#FF8B35;
        @svg2-visited:#444444;
        @component-select:false;
        @has-colors:true;
        @has-fields:true;
        @has-buttons:true;
        .getInterface(light);
    }

    ///////////////////////////////////////
    // Setup Dashboard Menu Interface Colors
    & .dash-menu{
        @window-bg:#50606B;
        @window-hover:#4B6874;
        @window-color:#ffffff;
        @window-color-faded:#9BC9DC;
        @window-color-help:#9EE3C3;
        @window-grip:rgba(255, 255, 255, 0.1);
        @window-title:#aaaaaa;
        @window-close:#cc0000;
        @window-header:#46545E;
        @window-top-menu:#2a2a2a;
        @window-tab:@window-top-menu;
        @window-tab-hover:lighten(@window-bg,8%);
        @window-tab-selected:saturate(lighten(#263039,4%),15%);
        @a-link:#ffffff;
        @a-hover:#ffffff;
        @a-active:#ffffff;
        @a-visited:#ffffff;
        @svg2-link:#ffffff;
        @svg2-hover:#33ffcc;
        @svg2-active:#00ffcc;
        @svg2-visited:#ffffff;
        @component-select:false;
        @has-colors:false;
        @has-fields:false;
        @has-buttons:false;
        .getInterface(dark);
    }

    ///////////////////////////////////////
    // Setup Dashboard Box Interface Colors
    & .dash-box{
        @window-bg:#e3e3e3;
        @window-hover:#ABD3D1;
        @window-color:#444444;
        @window-color-faded:#999999;
        @window-color-help:#329392;
        @window-grip:rgba(0, 0, 0, 0.1);
        @window-title:#aaaaaa;
        @window-close:#cc0000;
        @window-header:#d6d6d6;
        @window-top-menu:#dfdfdf;
        @window-tab:@window-top-menu;
        @window-tab-hover:lighten(@window-bg,8%);
        @window-tab-selected:saturate(lighten(#0099CC,4%),15%);
        @button-bg:#00AC83;
        @button-color:#ffffff;
        @button-apply-bg:#00AC83;
        @button-apply-color:#ffffff;
        @button-cancel-bg:#777777;
        @button-cancel-color:#56978C;
        @button-outline-bg:#ffffff;
        @button-outline-color:#ffffff;
        @a-link:#00eeb6;
        @a-hover:#00ffc3;
        @a-active:#00ffc3;
        @a-visited:#00eeb6;
        @svg2-link:#444444;
        @svg2-hover:#FF8B35;
        @svg2-active:#FF8B35;
        @svg2-visited:#444444;
        @component-select:false;
        @has-colors:false;
        @has-fields:false;
        @has-buttons:false;
        .getInterface(light);
    }
}

///////////////////////////////////////

.component-select{
    //color variables ////////////////////////
    @bg-color:#252525;
    @bg-color-hover:#000000;
    @color:#dddddd;
    @color-hover:#33ffcc;
    @corner-color:@bg-color;
    @glass:fade(@bg-color, 30%);
    color:@color;
    background-color:@glass;
    .resize-side{background-color:@bg-color;}
    .resize-corner{background-color:@corner-color;}
    .resize-side:hover{}
    .arrow-down{background-color:@bg-color; color:@color;}
    .arrow-down:hover{background-color:@bg-color-hover; color:@color-hover;}
    .arrow-top:after{border-bottom-color:@bg-color;}
    .arrow-right:after{border-left-color:@bg-color;}
    .menu, .submenu {
        .item{background-color:@bg-color; color:@color;}
        > .item:hover{background-color:@bg-color-hover;}
        .item .item:hover{background-color:@bg-color-hover;}
        > .item:hover > div > svg{color:@color-hover !important;}
        .item .item:hover > div > svg{color:@color-hover !important;}
    }
    .submenu, .bg {background-color:@bg-color;}
    .properties > .box{background-color:@bg-color;}
    .quickmenu-item{background-color:@bg-color;}
}

///////////////////////////////////////

.component-select.forpanel{
    //color variables ////////////////////////
    
    @bg-color:#3AA39D;
    @bg-color-hover:#3AA39D;
    @color:#ffffff;
    @color-hover:#81FE70;
    @a-link:#81FE70;
    @a-hover:#81FE70;
    @a-active:#81FE70;
    @a-visited:#81FE70;
    @corner-color:@bg-color;
    @glass:fade(@bg-color, 30%);
    color:@color;
    background-color:@glass;

    a:link{color:@a-link;}
    a:hover{color:@a-hover;}
    a:active{color:@a-active;}
    a:visited{color:@a-visited;}

    .resize-side{background-color:@bg-color;}
    .resize-corner{background-color:@corner-color;}
    .arrow-down{background-color:@bg-color; color:@color;}
    .arrow-down:hover{background-color:@bg-color-hover; color:@color-hover;}
    .arrow-top:after{border-bottom-color:@bg-color;}
    .arrow-right:after{border-left-color:@bg-color;}
    .menu, .submenu, {
        .item{background-color:@bg-color; color:@color;}
        > .item:hover{background-color:@bg-color-hover;}
        .item .item:hover{background-color:@bg-color-hover;}
        > .item:hover > div > svg{color:@color-hover !important;}
        .item .item:hover > div > svg{color:@color-hover !important;}
    }
    .submenu, .bg {background-color:@bg-color;}
    .properties > .box{background-color:@bg-color;}
    .quickmenu-item{background-color:@bg-color;}
}

///////////////////////////////////////
// Editor Interface Skinning
///////////////////////////////////////
.tools .skin
{
    background-color:@interface-bg;

    a:link use{color:@svg-link;}
    a:hover use{color:@svg-hover;}
    a:active use{color:@svg-active;}
    a:visited use{color:@svg-visited;}
    a.selected:link use{color:@svg-selected;}
    a.selected:visited use{color:@svg-selected;}

}

body.dashboard{background-color:#e3e3e3;}