@import "colors.less";

//editor toolbar colors
@bg-color:#efefef;
@bg-color-hover:#e0e0e0;
@bg-color-selected:#76c6c1;
@color:#666;
@color-faded:#aaaaaa;

@link:#666;
@hover:#33ffcc;
@active:#00ffcc;
@visited:#666;

@svg-link:#009C75;
@svg-hover:#00C561;
@svg-active:#00945B;
@svg-visited:#009C75;
@svg-saving:#AB0050;
@svg-selected:#007B80;

// component box & tools colors
@tools-bg:#272727;
@tools-color:#ddd;
@tools-link:#ddd;
@tools-hover:#33ffcc;
@tools-active:#00ffcc;
@tools-visited:#ddd;
@tools-svg-link:#ddd;
@tools-svg-hover:#33ffcc;
@tools-svg-active:#00ffcc;
@tools-svg-visited:#ddd;
@tools-svg-saving:#58ff00;
@tools-svg-selected:#58ff00;
.editor();

///////////////////////////////////////
// Setup Page Editor Interface Colors
.interface{
    @window-bg:@bg-color;
    @window-hover:@bg-color-hover;
    @window-color:@color;
    @window-color-faded:mix(@window-bg, @window-color, 50%);
    @window-color-help:#009C75;
    @window-title:darken(@window-color, 5%);
    @window-grip:darken(@window-bg, 5%);
    @window-header:darken(@window-bg, 5%);
    @window-close:#cc0000;
    @window-top-menu:darken(@window-bg, 7%);
    @window-tab:darken(@window-bg, 7%);
    @window-tab-hover:darken(@window-hover, 7%);
    @window-tab-selected:@bg-color-selected;
    @button-bg:#00AC83;
    @button-color:#ffffff;
    @button-apply-bg:#00AC83;
    @button-apply-color:#ffffff;
    @button-cancel-bg:#aaa;
    @button-cancel-color:#ffffff;
    @button-outline-bg:#ffffff;
    @button-outline-color:#ffffff;
    @a-link:@link;
    @a-hover:@hover;
    @a-active:@active;
    @a-visited:@visited;
    @svg2-link:@svg-link;
    @svg2-hover:@svg-hover;
    @svg2-active:@svg-active;
    @svg2-visited:@svg-visited;
    @select-bgcolor:#252525;
    @select-hovercolor:#000000;
    @select-color:#ffffff;
    @select-panel-bgcolor:#3AA39D;
    @select-panel-hovercolor:#3DABA6;
    @select-panel-color:#ffffff;
    @has-colors:true;
    @has-fields:true;
    @has-buttons:true;
    .renderInterface(light);
}

///////////////////////////////////////
// Setup Dashboard Interface Colors
.interface.dashboard{
    @window-bg:#e3e3e3;
    @window-hover:#ABD3D1;
    @window-color:#444444;
    @window-color-faded:#999999;
    @window-color-help:#329392;
    @window-grip:rgba(0, 0, 0, 0.1);
    @window-title:#aaaaaa;
    @window-close:#cc0000;
    @window-header:#d6d6d6;
    @window-top-menu:#dfdfdf;
    @window-tab:@window-top-menu;
    @window-tab-hover:lighten(@window-bg,8%);
    @window-tab-selected:#00EEB6;
    @button-bg:#00AC83;
    @button-color:#ffffff;
    @button-apply-bg:#00AC83;
    @button-apply-color:#ffffff;
    @button-cancel-bg:#777777;
    @button-cancel-color:#56978C;
    @button-outline-bg:#ffffff;
    @button-outline-color:#ffffff;
    @a-link:#0093ca;
    @a-hover:#00bbc2;
    @a-active:#00bbc2;
    @a-visited:#0093ca;
    @svg2-link:#444444;
    @svg2-hover:#FF8B35;
    @svg2-active:#FF8B35;
    @svg2-visited:#444444;
    @has-colors:true;
    @has-fields:true;
    @has-buttons:true;
    .renderInterface(light);
}

///////////////////////////////////////
// Setup Dashboard Menu Interface Colors
.interface .dash-menu{
    @window-bg:#50606B;
    @window-hover:#4B6874;
    @window-color:#ffffff;
    @window-color-faded:#9BC9DC;
    @window-color-help:#9EE3C3;
    @window-grip:rgba(255, 255, 255, 0.1);
    @window-title:#aaaaaa;
    @window-close:#cc0000;
    @window-header:#46545E;
    @window-top-menu:#2a2a2a;
    @window-tab:@window-top-menu;
    @window-tab-hover:lighten(@window-bg,8%);
    @window-tab-selected:saturate(lighten(#263039,4%),15%);
    @a-link:#ffffff;
    @a-hover:#ffffff;
    @a-active:#ffffff;
    @a-visited:#ffffff;
    @svg2-link:#ffffff;
    @svg2-hover:#33ffcc;
    @svg2-active:#00ffcc;
    @svg2-visited:#ffffff;
    @has-colors:false;
    @has-fields:false;
    @has-buttons:false;
    .renderInterface(dark);
}

///////////////////////////////////////
// Setup Dashboard Box Interface Colors
/*
.interface .dash-box{
    @window-bg:#e3e3e3;
    @window-hover:#ABD3D1;
    @window-color:#444444;
    @window-color-faded:#999999;
    @window-color-help:#329392;
    @window-grip:rgba(0, 0, 0, 0.1);
    @window-title:#aaaaaa;
    @window-close:#cc0000;
    @window-header:#d6d6d6;
    @window-top-menu:#dfdfdf;
    @window-tab:@window-top-menu;
    @window-tab-hover:lighten(@window-bg,8%);
    @window-tab-selected:saturate(lighten(#0099CC,4%),15%);
    @button-bg:#00AC83;
    @button-color:#ffffff;
    @button-apply-bg:#00AC83;
    @button-apply-color:#ffffff;
    @button-cancel-bg:#777777;
    @button-cancel-color:#56978C;
    @button-outline-bg:#ffffff;
    @button-outline-color:#ffffff;
    @a-link:#00eeb6;
    @a-hover:#00ffc3;
    @a-active:#00ffc3;
    @a-visited:#00eeb6;
    @svg2-link:#444444;
    @svg2-hover:#FF8B35;
    @svg2-active:#FF8B35;
    @svg2-visited:#444444;
    @has-colors:false;
    @has-fields:false;
    @has-buttons:false;
    .renderInterface(light);
} */

///////////////////////////////////////
// Setup Component Select Box

.component-select{
    @window-bg:#252525;
    @window-hover:#000000;
    @window-color:#dddddd;
    @window-color-faded:mix(@window-bg, @window-color, 50%);
    @window-color-help:#009C75;
    @window-grip:darken(@window-bg, 5%);
    @window-title:darken(@window-color, 5%);
    @window-close:#cc0000;
    @window-header:darken(@bg-color, 5%);
    @window-top-menu:darken(@bg-color, 7%);
    @window-tab:darken(@bg-color, 7%);
    @window-tab-hover:darken(@window-hover, 7%);
    @window-tab-selected:@bg-color-selected;
    @button-bg:#00AC83;
    @button-color:#ffffff;
    @button-apply-bg:#00AC83;
    @button-apply-color:#ffffff;
    @button-cancel-bg:#777777;
    @button-cancel-color:#56978C;
    @button-outline-bg:#ffffff;
    @button-outline-color:#ffffff;
    @a-link:#ddd;
    @a-hover:#33ffcc;
    @a-active:#00ffcc;
    @a-visited:#ddd;
    @svg2-link:@a-link;
    @svg2-hover:@a-hover;
    @svg2-active:@a-active;
    @svg2-visited:@a-visited;
    @has-colors:false;
    @has-fields:true;
    @has-buttons:false;
    @border:2%; 
    .componentBox(dark);
}

//////////////////////////////////////////////////////
// Setup Component Select Box for Panel Component
.component-select.forpanel{
    @window-bg:#3AA39D;
    @window-hover:#3AA39D;
    @window-color:#ffffff;
    @window-color-faded:mix(@window-bg, @window-color, 50%);
    @window-color-help:#009C75;
    @window-grip:darken(@window-bg, 5%);
    @window-title:darken(@window-color, 5%);
    @window-close:#cc0000;
    @window-header:darken(@bg-color, 5%);
    @window-top-menu:darken(@bg-color, 7%);
    @window-tab:darken(@bg-color, 7%);
    @window-tab-hover:darken(@window-hover, 7%);
    @window-tab-selected:@bg-color-selected;
    @button-bg:#00AC83;
    @button-color:#ffffff;
    @button-apply-bg:#00AC83;
    @button-apply-color:#ffffff;
    @button-cancel-bg:#777777;
    @button-cancel-color:#56978C;
    @button-outline-bg:#ffffff;
    @button-outline-color:#ffffff;
    @a-link:#81FE70;
    @a-hover:#81FE70;
    @a-active:#81FE70;
    @a-visited:#81FE70;
    @svg2-link:@a-link;
    @svg2-hover:@a-hover;
    @svg2-active:@a-active;
    @svg2-visited:@a-visited;
    @has-colors:false;
    @has-fields:true;
    @has-buttons:false;
    @border:2%; 
    .componentBox(dark);
}