/*reset*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
footer,
header,
menu,
nav,
section,
summary,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}
/* global styling */
body {
  font-size: 12px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute.hide {
  height: 0px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.center {
  text-align: center;
}
.wait,
.wait div {
  cursor: wait !important;
}
select,
input,
textarea {
  margin: 0px;
  box-sizing: border-box;
}
.iphone,
.ipad {
  font-size: 16px;
}
input {
  outline: none;
}
/* webpage specific */
.body {
  position: relative;
  width: 100%;
}
.webpage {
  position: relative;
  margin: 0px auto;
}
.webpage .component {
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
}
.webpage .ispanel {
  position: relative;
  width: 100%;
  height: 100%;
}
.webpage .inner-panel {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 30px;
  text-align: center;
}
/*.webpage .inner-panel:after{content:""; display:table; clear:both;}*/
.webpage input[type='text'],
.webpage input[type='password'],
.webpage input[type='email'] {
  padding: 3px 7px;
  width: 100%;
  font-size: 14px;
}
.webpage ul {
  padding-left: 40px;
}
/* theme elements (textbox.html) */
.nobg {
  background-color: transparent;
  border-style: none;
  border-width: 0px;
}
.textbox.haslabel > input:nth-child(1) {
  display: none;
}
.textbox.haslabel.active > input.islabel {
  display: none;
}
.textbox.haslabel.active > input:nth-child(1) {
  display: block;
}
/* component specific */
.webpage .type-photo img {
  width: 100%;
}
.webpage .type-photo a.hover {
  position: relative;
}
.webpage .type-photo a.hover img.over {
  opacity: 0;
}
.webpage .type-photo a.hover:hover img:first-child {
  opacity: 0;
}
.webpage .type-photo a.hover:hover img.over {
  opacity: 1;
}
.webpage .type-textbox {
  text-align: left;
}
.webpage .font-georgia {
  font-family: Georgia, serif;
}
.webpage .font-book {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.webpage .font-times {
  font-family: "Times New Roman", Times, serif;
}
.webpage .font-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.webpage .font-arial-black {
  font-family: "Arial Black", Gadget, sans-serif;
}
.webpage .font-impact {
  font-family: Impact, Charcoal, sans-serif;
}
.webpage .font-lucida {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.webpage .font-tahoma {
  font-family: Tahoma, Geneva, sans-serif;
}
.webpage .font-trebuchet {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.webpage .font-verdana {
  font-family: Verdana, Geneva, sans-serif;
}
.webpage .font-courier-new {
  font-family: "Courier New", Courier, monospace;
}
.webpage .font-lucida-console {
  font-family: "Lucida Console", Monaco, monospace;
}
/* fonts */
.font-dollar-sign {
  left: 10px;
  top: 4px;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 4.2em;
}
h2 {
  font-size: 3.2em;
}
h3 {
  font-size: 2.4em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.6em;
}
h6 {
  font-size: 1.2em;
}
.screen.tablet h1 {
  font-size: 3.8em;
}
.screen.tablet h2 {
  font-size: 3.0em;
}
.screen.tablet h3 {
  font-size: 2.4em;
}
.screen.tablet h4 {
  font-size: 1.8em;
}
.screen.tablet h5 {
  font-size: 1.6em;
}
.screen.tablet h6 {
  font-size: 1.2em;
}
.screen.mobile h1 {
  font-size: 2.8em;
}
.screen.mobile h2 {
  font-size: 2.4em;
}
.screen.mobile h3 {
  font-size: 2.0em;
}
.screen.mobile h4 {
  font-size: 1.7em;
}
.screen.mobile h5 {
  font-size: 1.5em;
}
.screen.mobile h6 {
  font-size: 1.2em;
}
.screen.cell h1 {
  font-size: 2.6em;
}
.screen.cell h2 {
  font-size: 2.2em;
}
.screen.cell h3 {
  font-size: 1.8em;
}
.screen.cell h4 {
  font-size: 1.6em;
}
.screen.cell h5 {
  font-size: 1.4em;
  font-weight: bold;
}
.screen.cell h6 {
  font-size: 1.2em;
}
/* rounded corners */
.round4 {
  border-radius: 4px;
}
.round5 {
  border-radius: 5px;
}
.round6,
.round {
  border-radius: 6px;
}
.round7 {
  border-radius: 7px;
}
.round8 {
  border-radius: 8px;
}
.round9 {
  border-radius: 9px;
}
.round10 {
  border-radius: 10px;
}
.round11 {
  border-radius: 11px;
}
.round12 {
  border-radius: 12px;
}
.round13 {
  border-radius: 13px;
}
.round14 {
  border-radius: 14px;
}
.round15 {
  border-radius: 15px;
}
.round20 {
  border-radius: 20px;
}
.round25 {
  border-radius: 25px;
}
.round500 {
  border-radius: 800px;
}
/*transparency */
.opacity-75 {
  opacity: 0.75;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-25 {
  opacity: 0.25;
}
.opacity-20 {
  opacity: 0.20;
}
.opacity-15 {
  opacity: 0.15;
}
.opacity-10 {
  opacity: 0.1;
}
.opacity-5 {
  opacity: 0.05;
}
/*rotation */
.rotate-180 {
  transform: rotate(180deg);
  /* W3C complaint browsers */
  -o-transform: rotate(180deg);
  /* Opera */
}
/*special elements*/
.svgicons {
  position: absolute;
  height: 0px;
  width: 0px;
}
/*
/////////////////////////////////////////////////////////////////
Source Code
/////////////////////////////////////////////////////////////////
*/
.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.code.tab1 {
  padding-left: 20px;
}
.code.tab2 {
  padding-left: 40px;
}
.code.tab3 {
  padding-left: 60px;
}
.code.tab4 {
  padding-left: 80px;
}
.code.tab5 {
  padding-left: 100px;
}
.code.tab6 {
  padding-left: 120px;
}
.code.tab7 {
  padding-left: 140px;
}
.code.tab8 {
  padding-left: 160px;
}
.code.tab9 {
  padding-left: 180px;
}
.code-tag {
  color: #FF0000;
}
.code-tag-name {
  color: #990066;
}
.code-attr {
  color: #0066CC;
}
.code-attr-value {
  color: #FF6600;
}
.code-comment {
  color: #339900;
}
.code-help-section {
  clear: both;
}
.code-help-title {
  float: left;
  width: 40%;
  text-align: right;
}
.code-help-description {
  float: left;
  width: 55%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}
/* //////////////////////////////////////////////////////
   Ace Editor
///////////////////////////////////////////////////////*/
.ace_gutter-cell.ace_error {
  background-image: none !important;
}
/* hide all errors */
